@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,800);
* {
  box-sizing: border-box;
}

.accordion {
  width: 100%;
  background-color: #18202a;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Roboto Condensed";
}
.accordion__title {
  margin: 0;
  padding: 35px 20px;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  background-color: #253141;
  border-bottom: 3px solid #11161d;
  letter-spacing: 0.25rem;
}
.accordion__items {
  margin: 0;
  position: relative;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
  background-color: #18202a;
  cursor: pointer;
  border-bottom: 2px solid #090c10;
}
.accordion__items:nth-of-type(even) {
  background-color: #0d1117;
}
.accordion__items:after {
  content: '';
  transition: transform 0.25s ease 0.1s;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 10px;
  height: 10px;
  transform: translateY(-50%) rotate(-45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.accordion__items:hover {
  background-color: #000;
}
.accordion__items.active {
  background-color: #000;
}
.accordion__items.active:after {
  transform: translateY(-50%) rotate(45deg);
}
.accordion__content {
  transition: opacity 1s ease 0.25s, height 0.25s ease;
/*   background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.8) 75%), url(http://lorempixel.com/480/480/); */
  background-size: cover;
  background-color: #18202a;
  padding: 0 20px;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.accordion__content__caption {
  transition: opacity 0.3s ease 0.3s, transform 0.3s ease 0.3s;
  transform: scaleY(0);
  color: #ffe;
  opacity: 0;
  margin: 20px 0;
  font-size: 1em;
  line-height: 1.3;
  font-size: 1.5rem;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}
.accordion__content__txt {
  transition: opacity 0.3s ease 0.6s, transform 0.3s ease 0.6s;
  transform: scaleY(0);
  margin-bottom: 30px;
  color: #a99;
  opacity: 0;
}
.accordion__content.open {
  height: auto;
  overflow-y: scroll;
  opacity: 1;
}
.accordion__content.open .accordion__content__caption {
  opacity: 1;
  transform: scaleY(1);
}
.accordion__content.open .accordion__content__txt {
  opacity: 1;
  transform: scaleY(1);
}
