@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Noto+Sans+KR:wght@900&family=Pacifico&family=Roboto:wght@300&display=swap');

body{
	height: 100%;
	background-color: #F5F1DE;
	margin: 0;
}

.none-email {
    position: absolute;
    width: 100vw;
    background-color: #2C2C2C;
    color: #fff;
    height: 40px;
    top: 0;
}

.none-email-ptag {
	margin: 0;
    text-align: center;
    line-height: 40px;
}

.logo {
	margin-left: auto;
    margin-right: auto;
    margin-top: 230px;
    width: 300px;
}

.logo a {
    font-size: 3.5em;
    color: #244C1E;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
/*     text-shadow: 3px 2px 2px black; */
}

#user{
    background-repeat: no-repeat;
    background-size: cover;
}

#find-form{
    height: 230px;
    width:350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 90%);
}

.find-password {
	margin-top: 20px;
	margin-left: 25px;
}

label {
  font-size: 1.2em;
}

#email {
    margin-left: 25px;
    margin-top: 10px;
    width: 300px;
    height: 18px;
    font-size: 1em;
    border: none;
    background: none;
    border-bottom: 2px solid #c4c5c4;
    padding: 20px 0 9px 0;
}

#email:focus {
	outline: none;
}

#auth-check {
    margin-left: 25px;
    width: 138px;
    height: 18px;
    font-size: 1em;
    border: none;
    background: none;
    border-bottom: 2px solid #c4c5c4;
    padding: 20px 0 9px 0;
}

#auth-check:focus {
	outline: none;
}

#btn-auth {
    margin-top: 5px;
	padding : 0;
	margin-left: 10px;
    width:143px;
    height: 25px;
    background-color: #E5E5E5;
    border:none;
    color:#000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius:10px;
}

#btn-auth:focus {
	outline: none;
}

#btn-auth-check {
    margin-left: 25px;
    margin-top: 20px;
    width:300px;
    height: 40px;
    background-color: #8F784B;
    border:none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius:10px;
    display: block;
    font-size: 16px;
    padding: 10px 0 16px;
}

#btn-auth-check:focus {
	outline: none;
}