@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Noto+Sans+KR:wght@900&family=Pacifico&family=Roboto:wght@300&display=swap');

body{
	height: 100%;
	background-color: #F5F1DE;
}


.logo {
	margin-left: auto;
    margin-right: auto;
    margin-top: 230px;
    width: 300px;
}

.logo a {
    font-size: 3.5em;
    color: #244C1E;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
/*     text-shadow: 3px 2px 2px black; */
}

#user{
    background-repeat: no-repeat;
    background-size: cover;
}


#login-form{
    height: 185px;
    width:350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 90%);
}

label {
    font-size: 1.2em;
    margin: 0 auto;
}

#password {
	margin-left: 25px;
    margin-top: 18px;
    width: 300px;
    display: block;
    height: 18px;
    background: none;
    border: none;
    font-size: 1em;
    border-bottom: 2px solid #c4c5c4;
    padding: 20px 0 3px 0;
}

#password:focus {
	outline: none;
}

.error-password-pattern {
	position: fixed;
	width: 230px;
	top: 330px;
	left: 1065px;
	border-radius: .3em;
    background-color: #fae3e4;
    padding: 5px 10px;
    border: 0.5px solid #cea0a5;
    color: #bf0000;
}

.error-password-pattern:before, .error-password-pattern:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.error-password-pattern:after {
	border-color: rgba(250, 227, 228, 0);
	border-top-color: #fae3e4;
	left: 10%;
	border-width: 7px;
	margin-left: -7px;
}
.error-password-pattern:before {
	border-color: rgba(191, 0, 0, 0);
	border-top-color: #cea0a5;
	left: 10%;
	border-width: 8px;
	margin-left: -8px;
}

#passwordcheck {
   width: 300px;
    margin: 0 auto;
    display: block;
    height: 18px;
    background: none;
    border: none;
    font-size: 1em;
    border-bottom: 2px solid #c4c5c4;
    padding: 20px 0 3px 0;
}

#passwordcheck:focus {
	outline: none;
}

#complete {
     margin-left: 26px;
    margin-top: 20px;
    width:300px;
    height: 40px;
    background-color: #8F784B;
    border:none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius:10px;
    display: block;
    font-size: 16px;
    padding: 10px 0 16px;
}

#complete:focus {
	outline: none;
}