html {	
	background-color: #FAFAFA
}

body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

.content {
    margin-left: 23%;
}

.menu-bar {
    float: left;
    margin-top: -70px;
    position: fixed;
}

.menu-bar-change {
	float: left;
    margin-top: 392px;
    position: relative;
}

.algo {
    padding: 80px 0;
}

.category-content {
    width: 100%;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url('../../images/checkbox.png') left top repeat;
    cursor: pointer;
    background-size: cover;
}

input[type="checkbox"]:checked + label span {
    background:url('../../images/checkbox.png')  -25px top no-repeat;
    background-size: cover;
}

input[type="checkbox"]:disabled + label span {
    background:url('../../images/checkbox.png')  -51px top no-repeat;
    background-size: cover;
}

input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../../images/search.png');
    background-size: 40px;
    background-position: 5px 1px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 55px;
    color: #999999;
}

.algo td,
.category td {
    padding: 5px 0;
}

.search {
    width: 100%;
    margin-bottom: 0.8%;
    margin-left: 1.3%;
}

#search {
    background-color: #FFF1D6;
    border: none;
    color: #6e6e6e;
    padding: 10px 10px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border: 1.5px #FFF1D6 solid;
    cursor: pointer;
}

#search:hover {
    background-color: #BFB5A0;
    color: #fff;
    border: 1.5px #BFB5A0 solid;
}

.list {
    width: 80%;
    margin-top: 150px;
    margin-right: auto;
    margin-bottom: 7%;
    margin-left: 4%;
    padding-left: 130px;
    height: 1100px;
}

.problem-box {
    float: left;
    background-color: #fff;
    width: 30%;
    height: 100px;
    border-radius: 10px;
    margin: 15px 20px;
    padding: 8px 15px 15px 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}
  
.problem-box:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.problem-no {
    float: left;
    width: 22%;
    text-align: center;
    border: 1px #7A8B9B;
    color: #FCFBF4;
    border-radius: 15px;
    background-color: #244c1e; 
    padding: 2px 9px;
    margin-top: 7px;
}

.problem-recommend {
    float: left;
    line-height: 0px;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    color: rgb(34, 34, 34);
}

.like {
    width: 35px;
    vertical-align: middle;
    margin-left: 200px;
}

.problem-title {
    margin-top: 11%;
}

.problem-kind {
    float: right;
    margin-top: 6%;
    margin-right: 10px;
}

.problem-user {
    float: right;
    margin-top: 6%;
}

.list td {
    text-align: center;
    padding: 10px 40px;
}

.pager {
    width: 70%;
    float: left;
    margin-top: 2.5%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 2.6%;
    text-align: center;
    cursor: pointer;
}

.page {
    text-decoration: none;
    padding: 0px 10px;
    cursor: pointer;
}

.pager b {
    color: #ca6d03;
}

.make-problem {
    background-color: #979383;
    border: none;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 4px 17.5%;
    transition-duration: 0.4s;
    border: 1.5px #979383 solid;
    cursor: pointer;
}

.make-problem:hover {
    background-color: #BFB5A0;
    color: #fff;
    border: 1.5px #BFB5A0 solid;
}

.reset {
    background-color: #979383;
    border: none;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 4px 20px;
    transition-duration: 0.4s;
    border: 1.5px #979383 solid;
    cursor: pointer;
}

.reset:hover {
    background-color: #BFB5A0;
    color: #fff;
    border: 1.5px #BFB5A0 solid;
}


#footer {
	float: left;
	width: 100%;
	margin-top : 30px;
}

.footer {
    display: flow-root;
	margin: auto;
	padding: 60px 0;
	left: 0;
	bottom: 0;
	width: 74%;
    background-color: #fAFAFA;
	color: #3C3C3C;
	text-align: center;
	border-top: 1px solid #BFBFBf
}

.problem-number {
	color: #fff;
}

.algorithm, .category {
	background-color: #fff;
    color: #777;
    border-radius: 10px;
    border: 1px solid #b2b2b2;
    text-align: center;
    margin-bottom: 15px;
    padding: 4px 0;
}

.hashtag {
	background-color: #ffe140;
    color: #202020;
    padding: 5px 7px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border: 1.5px #ffe140 solid;
    margin-right: 12px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.16), 0 2px 2px rgba(0,0,0,0.23);
}

.tag-content {
	margin-top: 120px;
	margin-left: 650px;
}

.prev, .page, .next {
	position: relative;
    display: inline-block;
    padding: .53125rem .84375rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #90929e;
}