@import
	url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Pacifico&family=Roboto:wght@300&display=swap')
	;

body {
	margin: 0;
	padding: 0;
}

.make-coding-test-problem-info {
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 500;
	margin-left: 1em;
}

.codingtest-div {
    background-color: #fff;
    width: 77%;
    padding: 1em 2em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 15px rgba(130,130,130,0.3);
}

.codingtest {
	margin-right: 1em;
}

.password {
    margin-top: 1em;
    border-top: 1px solid #ebebeb;
    padding-top: 1em;
}

.password-title, .privacy-check-title, .start-date-title, .end-date-title {
    font-weight: bold;
    color: #4D4D4D;
    margin-bottom: 1em;
}

.password-input-div {
	
}

.password-input {
    outline: none;
    border: 1px solid #bebebe;
    height: 1.5em;
    border-radius: 0.5rem;
    padding: 1em 1em;
    font-size: 1em;
    font-family: 'Raleway', Arial, sans-serif;
	font-weight: 500;
    box-shadow: inset 0 0 5px rgba(130,130,130,0.2);
}

.privacy {
	border-top: 1px solid #ebebeb;
    margin-top: 1em;
    padding-top: 1em;
}

.privacy-check-radio {
	margin-left: 1.5em;
}

.date {
	border-top: 1px solid #ebebeb;
    margin-top: 1em;
    padding-top: 1em;
    margin-bottom: 0.5em;
}

.start-date {
	float: left;
    width: 45%;
    margin-right: 5%;
}

.end-date {

}

.input-date {
	height: 2em;
    background-color: #F0F0F0;
    border: none;
    outline: none;
    padding: 1em;
    font-size: 1.1em;
}

.division {
	margin-left: 8px;
	margin-top: 2em;
}

.division-radio-title-div {
	font-weight: bold;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #bebebe;
    width: 76%;
}

.division-radio-title {
	padding-left: 0.5em;
}
	
select {
    width: 75px;
    height: 35px;
    font-family: inherit;
    font-size: 1em;
    background: no-repeat 95% 50%;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 0px;
    margin: auto;
}

.regist {
	margin-left: auto;
	margin-top: 7%;
	margin-bottom: 20em;
	width: 80%;
}

.password {
	margin-top: 1em;
}


.language-select {
	margin-left: 120px;
}

.language {
	float: left;
	margin: 0 20px;
}

.title-text {
	margin-top: 15px;
	height: 18px;
	width: 800px;
}

.prob-content {
	margin-right: 50px;
}

.content {
	width: 100%;
    height: 1000px;
    outline: none;
    border: none;
    background-color: #fafafa;
    font-size: 1.12em;
    font-family: arial;
}

.prob-content-title {
	vertical-align: middle;
}

.CodeMirror {
	width: 95.5%;
	height: 350px;
}

.ex-input {
	float: left;
    width: 45.5%;
}

#ex-input-text, #ex-output-text {
	margin-left: 0;
    width: 100%;
    height: 220px;
    font-size: 1em;
    color: #2C2C2E;
    outline: none;
    border: none;
    background-color: #fafafa;
    font-family: arial;
    margin-top: 0.8em;
    resize: none;
}

#ex-input-text::placeholder, #ex-output-text::placeholder{
	color: #bebebe;
}

.ex-input-title, .ex-output-title {
	border-bottom: 1px solid #bebebe;
    padding-bottom: 1em;
    color: #828282;
}

.ex-output {
	margin-left: 4%;
    float: left;
    width: 50.3%;
}

#answer-code-text {
	margin-left: 30px;
	width: 807px;
	height: 300px;
}

.header {
	background-color: white;
	border-bottom: 1px solid lightgray;
}

.container {
	width: 980px;
	margin: auto;
	padding: 20px 0;
}

.menu {
	float: left;
}

.menu-item {
	float: left;
	margin-right: 10px;
	padding: 8px 10px;
}

.codeTest {
	background-color: lightgray;
	margin: auto;
}

.leftImg {
	display: block;
}

.tbl-ex {
	margin: auto;
	padding: 5px;
}

td {
	padding: 5px 5px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

* {
	box-sizing: border-box
}

/* Style the tab */
.tab {
	float: left;
    width: 5%;
    height: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
}


/* Create an active/current "tab button" class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	float: left;
	padding: 0 2% 0 2%;
	width: 74%;
	height: 700px;
	margin-bottom: 15em;
}

ul {
	list-style-type: none;
	padding: 0;
}

.tablinks {
	padding: 17px 9px;
	cursor: pointer;
	border: 1px solid #bebebe;
	padding-left: 1.3em;
}

.tablinks:hover {
	background-color: #ebebeb;
}

#addSubProblem {
	padding: 20px;
	cursor: pointer;
	text-align: center;
	font-size: 1.5em;
	line-height:20px;
}

#addSubProblem:hover {
	background-color: #e3e3e3;
}

.title {
	margin-top: 2em;
}

#title-text {
	margin-left: 1%;
    width: 59%;
    height: 90%;
    outline: none;
    border: none;
    background-color: #fafafa;
    font-size: 2em;
    color: #2c2c2c;
}

#title-text::placeholder {
	color: #bebebe;
}

#btn-cancel {
	background-color: #fafafa;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    border: 1px solid #828282;
    border-radius: 20px;
    transition: all 0.1s;
    margin-left: 5%;
    color: #828282;
}

#fake-submit {
	background-color: #fafafa;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    border: 1px solid indianred;
    border-radius: 20px;
    transition: all 0.1s;
    margin-left: 1%;
    color: indianred;
}

li[name=selected] {
	background-color: #c4b5af;
}

.delete {
	margin-left: 8px;
}

img {
	width: 16px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-top: -5px;
}

img:hover {
	background: #f00;
}


.tab-ul {
	margin-top: -1.3px;
}

#footer {
	float: left;
	width: 100%;
	margin-top : 30px;
}

.footer {
    display: flow-root;
	margin: auto;
	padding: 60px 0;
	left: 0;
	bottom: 0;
	width: 74%;
    background-color: #fAFAFA;
	color: #3C3C3C;
	text-align: center;
	border-top: 1px solid #BFBFBf
}

.sub-title {
	margin-top: 2em;
	border-bottom: 1px solid #bebebe;
    padding-bottom: 1.5em;
}

.sub-problem-title {
	width: 100%;
	outline: none;
	border: none;
    background-color: #fafafa;
    font-size: 1.5em;
    color: #2c2c2c;
}

.sub-problem-title::placeholder {
	color: #bebebe;
}

.sub-prob-content {
	margin-top: 1.5em;
    height: 455px;
}

.cke_1 {
	height: 442px;
}

.cke_contents {
	height: 400px;
}

.content::placeholder {
	color: #bebebe;
}

.problem-img {
	margin-right: 5px;
    margin-left: 9px;
    color: #244c1e;
}