body {
    margin: 0;
    padding: 0;
}

.side {
	width: 250px;
    height: 300px;
    left: 300px;
    float: left;
    display: inline-block;
}

.statistics-container {
    width: 80vw;
    margin-left: 3em;
    margin-top: 8.5%;
    display: inline-block;
}

.quizlist {
    margin-bottom: 30px;
    float: left;
    margin-left: 15em;
    overflow: auto;
    max-width: 740px;
}

.line {
	width: 740px;
    margin-bottom: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #167426;
    border-bottom: 3px solid #167426;
}

table {
    border: 0.3px solid lightgray;
    border-collapse: collapse;
    margin-left: 20px;
    margin-bottom: 2em;	
    font-size: 0.9em
}

th, td {
    border: 0.3px solid lightgray;
    padding: 10px 25px;
    text-align: center;
}

#footer {
	float: left;
	width: 100%;
}

.footer {
    display: flow-root;
	margin: auto;
	padding: 60px 0;
	left: 0;
	bottom: 0;
	width: 60%;
    background-color: #fAFAFA;
	color: #3C3C3C;
	text-align: center;
	border-top: 1px solid #BFBFBf;
	margin-top: 120px;
}

.chart-div {
	position: absolute;
    left: 65em;
    float: left;
    margin-left: 7em;
    margin-top: 3em;
    background-color: #fff;
    padding: 2em;
}

