body {
    margin: 0;
    padding: 0;
}

.side {
	width: 250px;
	height: 300px;
	margin-left: 300px;
    left: 300px;
    margin-top: 100px;
}

.statistics-container {
    width: 845px;
    margin-left: 1200px;
    margin-top: -300px;
}

ul {
    list-style: none;
    margin-left: 20px;
    margin-right: 30px;
    padding-left: 0px;
    height: 600px;
}

.menulist {
    margin: 5px;
    padding: 10px 0px;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 200px;
	height: 20px;
}

.quizlist {
    margin-bottom: 30px;
}

.line {
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #167426;
    border-bottom: 3px solid #167426;
}

table {
    border: 0.3px solid lightgray;
    border-collapse: collapse;
    margin-left: 40px;
}

th, td {
    border: 0.3px solid lightgray;
    padding: 10px 35px;
    text-align: center;
}

#footer {
	float: left;
	width: 100%;
}

.footer {
    display: flow-root;
	margin: auto;
	padding: 60px 0;
	left: 0;
	bottom: 0;
	width: 60%;
    background-color: #fAFAFA;
	color: #3C3C3C;
	text-align: center;
	border-top: 1px solid #BFBFBf;
	margin-top: 120px;
}
