body {
    margin: 0;
    padding: 0;
}

.side {
	width: 250px;
    height: 300px;
    left: 300px;
    float: left;
    display: inline-block;
}

.statistics-container {
    width: 80vw;
    margin-left: 100px;
    margin-top: 6%;
    display: inline-block;
}

.problem-list {
    margin: 5px;
    padding: 10px 0px;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 200px;
	height: 20px;
}

.quizlist {
    margin-bottom: 30px;
    float: left;
    margin-left: 12em;
    overflow: auto;
}

.line {
    margin-bottom: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #167426;
    border-bottom: 3px solid #167426;
}

table {
    border: 0.3px solid lightgray;
    border-collapse: collapse;
    margin-left: 40px;
}

th, td {
    border: 0.3px solid lightgray;
    padding: 10px 35px;
    text-align: center;
}

#footer {
	float: left;
	width: 100%;
}

.footer {
    display: flow-root;
	margin: auto;
	padding: 60px 0;
	left: 0;
	bottom: 0;
	width: 60%;
    background-color: #fAFAFA;
	color: #3C3C3C;
	text-align: center;
	border-top: 1px solid #BFBFBf;
	margin-top: 120px;
}

.chart-div {
	float: left;
	margin-left: 6em;
	margin-top: 6em;
}
.chart {
}
