@import
	url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Pacifico&family=Roboto:wght@300&display=swap')
	;
	
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800)
	;

body {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
}

.header {
	position: fixed;
	top: 0;
	z-index: 2;
	background-repeat: no-repeat;
	background-size: 100vw;
	height: 49px;
	width: 100vw;
}

.head-navigation {
	padding: 10px 0;
	position: absolute;
	top: 0;
	background-color: #244C1E;
	width: 100%;
	border-bottom: 1px solid #D7D7D7;
}

.logo {
	float: left;
	margin-right: 40px;
	margin-left: 10px;
	margin-top: 4px;
}

.logo a {
	text-decoration: none;
	color: #fff;
	font-family: 'Pacifico', cursive;
	font-size: 1.7em;
	margin-left: 20px;
	line-height: 40.8px;
}

.logo a:visited {
	color: #fff;
}

.logo a:hover {
	text-decoration: none;
	color: #fff;
}

.menu-user {
	float: right;
	font-size: 1em;
	margin-top: 2px;
	margin-right: 20px
}

.menu-item {
	float: left;
    margin-top: 3px;
    margin-right: 1em;
    padding: 5px 15px;
    line-height: 25.2px;
    text-align: center;

}

.menu-item:hover {
	background-color: rgba(255,255,255,0.2);
	color: #fff;
    border-radius: 0.5rem;
}

.menu-user a {
	text-decoration: none;
    color: #E0E0E0;
}

.menu-user a:visited {
	color: #E0E0E0;
}

.menu-user a:hover {
	text-decoration: none;
	color: #fff;
}

#code-tree a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

#code-tree a:visited {
	color: #fff;
}

#code-tree a:hover {
	text-decoration: none;
	color: #fff;
}

.sidemenu {
	position: fixed;
	left: 300px;
	margin: auto;
	margin-top: 110px;
	border: 1px solid #d1d5da;
	width: 9em;
	margin-left: 9em;
	border-radius: 0.3rem;
}

.nickname-header {
	padding: 10px 0px;
	border-bottom: 1px solid #B4B4B4;
	color: #222;
	background-color: #f2f0ed;
	border-radius: 0.3rem 0.3rem 0 0;
}

.settings {
	color: #586069 !important;
	margin-left: 15px;
	font-size: 0.8em;
}

.auth-user {
	font-weight: bold;
	margin-left: 15px;
	font-size: 0.9em;
}

.hover:hover {
	border-radius: 0 0 0.3rem 0.3rem;
}

.header-menulist {
	float: left;
	font-size: 0.9em;
	font-family: 'Roboto', sans-serif;
	padding: 14px 3px;
}

.header-menu {
	font-family: 'Raleway', Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	padding-left: 0;
}

.header-menu * {
	box-sizing: border-box;
}

.header-menu li {
	display: inline-block;
	list-style: outside none none;
	margin: 0 1.5em;
	padding: 0;
	color: #8E8E8E;
}

.header-menu a {
	padding: 0.5em 0;
	color: #E0E0E0;
	position: relative;
	letter-spacing: 1px;
	text-decoration: none;
}

.header-menu a:before, .header-menu a:after {
	position: absolute;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.header-menu a:before {
	bottom: 0;
	display: block;
	height: 3px;
	width: 0%;
	content: "";
	background-color: #fff;
}

.header-menu a:after {
	left: 0;
	top: 0;
	padding: 0.5em 0;
	position: absolute;
	content: attr(data-hover);
	color: #fff;
	white-space: nowrap;
	max-width: 0%;
	overflow: hidden;
}

.header-menu a:hover:before, .header-menu .current a:before {
	opacity: 1;
	width: 100%;
}

.header-menu a:hover:after, .header-menu .current a:after {
	max-width: 100%;
}

.account-icon {
    padding-left: 0.5em;
}
