@import
   url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Pacifico&family=Roboto:wght@300&display=swap')
   ;

body {
   margin: 0;
   padding: 0;
}
  
body { margin: 0; padding: 0; background-color: #FAFAFA;}

.header { 
   position: fixed;
     top: 0;
    z-index: 2;
    background-repeat : no-repeat;
    background-size : 100vw;
    height: 49px;
    width: 100vw;
}

.head-navigation {
   padding: 10px 0;
   position: absolute;
   top: 0;
   background-color: #244C1E;
   width: 100%;
   border-bottom: 1px solid #D7D7D7;
}

.logo {
   float: left;
   margin-right: 40px;
   margin-left: 10px;
   margin-top: 4px;
}

.logo a {
   text-decoration: none;
   color: #fff;
   font-family: 'Pacifico', cursive;
   font-size: 1.7em;
   margin-left: 20px;
   line-height: 40.8px;
}

.logo a:visited {
   color: #fff;
}

.logo a:hover {
   text-decoration: none;
   color: #fff;
}

.menu {
   float: left;
   font-size: 1.05em;
   font-family: 'Roboto', sans-serif;
}

.menu-user {
   float: right;
   font-size: 1em;
   margin-top: 2px;
   margin-right: 20px
}

.menu-item {
   float: left;
   margin-right: 10px;
   padding: 8px 10px;
   line-height: 25.2px;
}

.menu a {
   text-decoration: none;
   color: #fff;
}

.menu a:visited {
   color: #fff;
}

.menu a:hover {
   text-decoration: none;
   color: #fff;
}

.menu-user a {
   text-decoration: none;
   color: #fff;
}

.menu-user a:visited {
   color: #fff;
}

.menu-user a:hover {
   text-decoration: none;
   color: #fff;
}

#code-tree a {
   text-decoration: none;
   color: #fff;
   cursor: pointer;
}

#code-tree a:visited {
   color: #fff;
}

#code-tree a:hover {
   text-decoration: none;
   color: #fff;
}

.sidemenu {
   position: fixed;
   left: 300px;
   margin: auto;
   margin-top: 110px;
   border: 1px solid #d1d5da;
   width: 9em;
   margin-left: 6em;
   border-radius: 0.3rem;
}

.nickname-header {
	padding: 10px 0px;
    border-bottom: 1px solid #B4B4B4;
    color: #222;
    background-color: #f2f0ed;
    border-radius: 0.3rem 0.3rem 0 0;
}

.settings {
	color: #586069!important;
	margin-left: 15px;
    font-size: 0.8em;
}

.auth-user {
	font-weight: bold;
	margin-left: 15px;
    font-size: 0.9em;
}

.hover:hover {
	border-radius: 0 0 0.3rem 0.3rem;
}