@import
	url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap')
	;

body {
	margin: 0;
	padding: 0;
}

.wrong {
    position: absolute;
    width: 100vw;
    background-color: #414141;
    color: #fff;
    height: 40px;
    top: 0;
    z-index: 1;
}

.wrong-ptag {
	margin: 0;
    text-align: center;
    line-height: 40px;
}

.container {
	width: 820px;
    margin: auto;
    margin-top: 6em;
    padding: 10px 30px;
    margin-bottom: 9em;
     margin-left: 38em;
}

ul {
	list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.menu-item {
	float: left;
	margin: 3px 10px 0 0;
	padding: 8px 10px
}

.menu-user {
	float: right;
	font-size: 1em;
	margin-top: 2px
}

.menu-user a {
	text-decoration: none;
	color: #fff;
}

.menu-user a:visited {
	color: #fff;
}

.menu-user a:hover {
	text-decoration: none;
	color: #fff
}

/* a { */
/* 	text-decoration: none; */
/* 	color: #fff; */
/* } */

/* a:visited { */
/* 	color: #fff; */
/* } */

.menulist {
	padding: 10px 3px;
	border-bottom: 1px solid #B4B4B4;
	color: #7d7d7d;
	font-size: 0.9em;
}

.menulist:hover {
	background-color: #f2f0ed;
}

.nickname, .password, .disclosure, .delete {
	margin-bottom: 30px;
}

.line {
	border-bottom: 1px solid lightgray;
	margin-bottom: 10px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.privacy-div {
	margin-top: 20px;
	font-size: 0.9em;
}

#nickname-btn, #password-btn {
	background-color: #ab9a78;
    border: none;
    color: #fff;
    padding: 2px 15px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    transition-duration: 0.4s;
    border: 1.5px #ab9a78 solid;
    cursor: pointer;
}

#delete-btn {
	background-color: #b27761;
    border: none;
    color: #fff;
    padding: 2px 15px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    transition-duration: 0.4s;
    border: 1.5px #b27761 solid;
    cursor: pointer;
}
.privacy input:checked+.ico-privacy {
	position: absolute;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url("../../images/mypage/private.png") no-repeat 0 0;
	background-size: 23px;	
}

#footer {
	float: left;
	width: 100%;
	margin-top: 30px;
}

.footer {
	display: flow-root;
	margin: auto;
	padding: 60px 0;
	left: 0;
	bottom: 0;
	width: 55%;
	background-color: #fAFAFA;
	color: #3C3C3C;
	text-align: center;
	border-top: 1px solid #BFBFBf
}

.account {
	border-left: 3px solid #cb2431;
    pointer-events: none;
    color: saddlebrown;
    padding-left: 4px;
    margin-left: -1px;
}

.span-mypage, .span-problem {
	margin-left: 6px;
}

.span-account {
	margin-left: 3px;
	font-weight: bold;
}

.safe-password {
	font-size: 0.9em;
    margin-bottom: 1em;
    color: #515151;
    margin-top: 1em;
}

.info {
	margin-right: 5px;
}

button {
	outline: none;
}

#nickname-btn:hover, #password-btn:hover {
	-webkit-box-shadow: 0 2px 3px 0 rgba(192,179,154,0.3), 0 2px 4px 2px rgba(192,179,154,0.15);
	background-color: #907d59;
	border: 1.5px #907d59 solid;	
}

#delete-btn:hover {
	-webkit-box-shadow: 0 2px 3px 0 rgba(192,179,154,0.3), 0 2px 4px 2px rgba(192,179,154,0.15);
	background-color: #945d48;
	border: 1.5px #945d48 solid;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
    width: 66%;
}

.nickname-pre {
   margin-top: 0.6em;
   text-align: left;
}

.nickname-fieldset {
   border-radius: 0.5rem;
    padding-top: 0.7em;
    background-color: #F6F6F6;
}

.nickname-input {
    margin-left: 0.6em;
    width: 68%;
    padding-bottom: 4px;
    outline: none;
    border: 1px solid #bebebe;
}

.password-pre {
   margin-top: 0.6em;
   text-align: left;
}

.password-input {
    width: 13em;
    margin-left: 0.6em;
    margin-bottom: 0.7em;
    outline: none;
    padding-bottom: 4px;
}

.password-input2 {
    width: 13em;
    margin-left: 0.6em;
    outline: none;
    padding-bottom: 4px;
}

.password-fieldset {
	border-radius: 0.5rem;
    padding-top: 0.7em;
    background-color: #F6F6F6;
}

.delete-pre {
   margin-top: 0.6em;
   text-align: left;
   line-height: 21px;
}

.delete-fieldset {
	border-radius: 0.5rem;
    padding-top: 0.7em;
    background-color: #F6F6F6;
}

.delete-input {
	width: 13em;
    outline: none;
    margin-left: 0.6em;
    padding-bottom: 4px;
}


.error-password-pattern {
    position: fixed;
    width: 230px;
    top: 390px;
    left: 1072px;
    border-radius: .3em;
    background-color: #fae3e4;
    padding: 5px 10px;
    border: 0.5px solid #cea0a5;
    color: #bf0000;
}

.error-password-pattern:before, .error-password-pattern:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.error-password-pattern:after {
	border-color: rgba(250, 227, 228, 0);
	border-top-color: #fae3e4;
	left: 10%;
	border-width: 7px;
	margin-left: -7px;
}
.error-password-pattern:before {
	border-color: rgba(191, 0, 0, 0);
	border-top-color: #cea0a5;
	left: 10%;
	border-width: 8px;
	margin-left: -8px;
}