@import
	url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap')
	;

body {
	margin: 0;
	padding: 0;
}

.container {
	width: 980px;
    margin: auto;
    margin-top: 7em;
    padding: 10px 30px;
    margin-bottom: 9em;
}

.menu-item {
	float: left;
	margin: 3px 10px 0 0;
	padding: 8px 10px
}

.menu-user {
	float: right;
	font-size: 1em;
	margin-top: 2px
}

.menu-user a {
	text-decoration: none;
	color: #fff;
}

.menu-user a:visited {
	color: #fff;
}

.menu-user a:hover {
	text-decoration: none;
	color: #fff
}

ul {
	list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
	text-decoration: none;
	color: #222;
}

a:visited {
	color: #222;
}

#right-problem {
	color: #428BCA;
}

#right-problem:hover {
	font-weight: bold;
}

#wrong-problem {
	color: #e7911f;
}

#wrong-problem:hover {
	font-weight: bold;
}

.menulist {
	padding: 10px 0px;
    border-bottom: 1px solid #B4B4B4;
    color: #037EE2;
}

.menulist:hover {
	background-color: #f2f0ed;
}

.correct, .wrong {
	border-bottom: 1px solid lightgray;
	margin-bottom: 5px;
}

.correct-answer, .wrong-answer {
	margin: 10px 0px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

#footer {
	float: left;
	width: 100%;
	margin-top: 30px;
}

.footer {
	display: flow-root;
	margin: auto;
	padding: 60px 0;
	left: 0;
	bottom: 0;
	width: 69%;
	background-color: #fAFAFA;
	color: #3C3C3C;
	text-align: center;
	border-top: 1px solid #BFBFBf
}

.mypage {
	border-left: 2px solid #ff0000;
	pointer-events: none;
}