@import
	url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap')
	;

body {
	margin: 0;
	padding: 0;
	background-color: #fAFAFA;
}

.container {
	width: 980px;
	margin: auto;
	margin-top: 7em;
	padding: 10px 30px;
	margin-bottom: 9em;
}

ul {
	list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.menu-item {
	float: left;
	margin: 3px 10px 0 0;
	padding: 8px 10px
}

.menu-user {
	float: right;
	font-size: 1em;
	margin-top: 2px
}

.menu-user a {
	text-decoration: none;
	color: #fff;
}

.menu-user a:visited {
	color: #fff;
}

.menu-user a:hover {
	text-decoration: none;
	color: #fff
}

a {
	text-decoration: none;
	color: #222;
}

a:visited {
	color: #222;
}

.menulist {
	padding: 10px 0px;
	border-bottom: 1px solid #B4B4B4;
	color: #037EE2;
}

.menulist:hover {
	background-color: #f2f0ed;
}

.sp-delete {
	background-color: #AA7B69;
	border: none;
	color: #fff;
	padding: 2px 15px;
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	transition-duration: 0.4s;
	border: 1.5px #AA7B69 solid;
	cursor: pointer;
}

.list {
	background-color: #9A9A9A;
	border: none;
	color: #fff;
	padding: 2px 15px;
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	transition-duration: 0.4s;
	border: 1.5px #9A9A9A solid;
	cursor: pointer;
}

.list:hover {
	background-color: #fff;
	color: #9A9A9A;
	font-weight: bold;
}

.delete {
	background-color: #AA7B69;
	border: none;
	color: #fff;
	padding: 2px 15px;
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	transition-duration: 0.4s;
	border: 1.5px #AA7B69 solid;
	cursor: pointer;
}

.delete:hover {
	background-color: #fff;
	color: #AA7B69;
	font-weight: bold;
}

.line {
	border-bottom: 1px solid lightgray;
	margin-bottom: 10px;
}

.quiz-table {
	text-align: center;
	margin-right: 23px;
}

th {
	padding-bottom: 10px;
}

td {
	padding: 5px 0;
}

#title {
	text-align: left;
}

.problem-title {
	cursor: pointer;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

#modify-btn {
	background-color: #7A8B9B;
	border: none;
	color: #fff;
	padding: 2px 15px;
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	transition-duration: 0.4s;
	border: 1.5px #7A8B9B solid;
	cursor: pointer;
}

#modify-btn:hover {
	background-color: #fff;
	color: #7A8B9B;
	font-weight: bold;
}

.sub-problem-padding1 {
	padding-right: 20px;
}

.sub-problem-padding2 {
	padding-right: 20px;
	text-align: left;
	width: 75%;
}

#sub-problem-table {
	background-color: #F1F3F4;
	border-radius: 15px;
	padding: 10px 0px;
	margin: 15px 0;
	width: 100%;
}

.pager {
	width: 70%;
	margin-top: 2.5%;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 14%;
	text-align: center;
	cursor: pointer;
}

.prev, .page, .next {
	position: relative;
	display: inline-block;
	padding: .53125rem .84375rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #303030;
}

#footer {
	float: left;
	width: 100%;
	margin-top: 30px;
}

.footer {
	display: flow-root;
	margin: auto;
	padding: 60px 0;
	left: 0;
	bottom: 0;
	width: 69%;
	background-color: #fAFAFA;
	color: #3C3C3C;
	text-align: center;
	border-top: 1px solid #BFBFBf
}

.problem {
	border-left: 2px solid #ff0000;
}